$colorbg: withe;
$widthH1: 200px;
@import "menu";


body {
    align-items: center;
}

h1 {
    text-align: center;
    background-color: rgb(145, 33, 160);
    padding: 15px;

}
h3 {
    text-align: center;
}


main {
    text-align: center;
    color: rgb(61, 22, 97);
}
footer{
    background-color: darkgrey;
}
